<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Edit Your Place</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <% @place.photos.each do |photo| %>
      <%= link_to place_photo_path(@place, photo), method: :delete do %>
        <%= image_tag(photo.picture, style: 'height:auto;width:auto;max-width:400px;max-height:300px;') %>
        <i class="glyphicon glyphicon-trash"></i>
        <br />
      <% end %>
    <% end %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>